html, body, div, header, main, footer, button
  box-sizing border-box
  margin 0
  padding 0
  border 0

html
  height 100%

body
  font-family sans-serif
  font-size 16px
  height 100%

h1
  word-break keep-all

.app
  padding 10px
  width 100%
  height 100vh
  display flex
  flex-direction column

  header.header
    padding-top 20px
    display flex
    justify-content center
    .logo
      position relative
      img
        display block
        width 100px
      .beta
        position absolute
        background #EE3A24
        color white
        padding 4px
        font-size 12px
        top -10px
        right -30px
        transform rotate(20deg)

  main.main
    position relative
    z-index 100
    box-shadow 0 0 15px #ddd
    padding 20px
    max-width 360px
    margin 20px auto
    h1
      text-align center
    .search
      text-align center
    .result
      .message
        text-align center
        font-size 1.4rem
        border-bottom 1px solid #ccc
        padding-bottom 20px
        p
          padding 4px
          margin 0
        .truth
          font-weight bold
      .actions
        display flex
        justify-content space-evenly
        margin-top 5em
        font-size 0.9rem
        color #888
        .reset
          background-color #fff
          padding 0.5em
        .report
          padding 0.5em
      dl
        word-break keep-all
        margin 1rem auto
        overflow hidden
        display flex
        justify-content center
        dd
          margin-left 10px
    #barcode
        padding 8px
        border 1px solid #888
        box-sizing border-box
        margin-left 6px
    .submit-btn
        margin-left 6px
        padding 8px 12px
        font-size 0.8rem
        background-color #fff
        border 1px solid #888
        border-radius 12px

  footer.footer
    margin-top auto
    display flex
    justify-content center
    span
      width 100px
      text-align center
      img
        height 30px

#interactive
  width 100%
  canvas, video
    position absolute
    top 0
    left 0

.confetti
  position absolute
  left 50%
  top 4rem
  transform translateX(-50%)
  z-index 1
