html, body, div
  box-sizing border-box
  margin 0
  padding 0

html
  height 100%

body
  margin 0
  font-family sans-serif
  font-size 16px
  //height 100%

h1
  word-break keep-all

.wrapper
  .header
    margin-top 20px
    .logo
      img
        width 100px
        display block
        margin 0 auto
  .main
    z-index 100
    box-shadow 0 0 15px #ddd
    padding 20px
    max-width 360px
    margin 20px auto
    h1
      text-align center
    .search
      text-align center
    .result
      .message
        text-align center
        font-size 1.4rem
        border-bottom 1px solid #ccc
        padding-bottom 20px
        p
          padding 4px
          margin 0
        .truth
          font-weight bold
      .actions
        display flex
        justify-content space-evenly
        margin-top 5em
        button
          font-size 0.9rem
          color #888
          background-color #fff
          border 0
          margin 0
          padding 0.5em
        .report-link
          font-size 0.9rem
          color #888
          padding 0.5em
      dl
        margin 1rem auto
        overflow hidden
        display flex
        justify-content center
        dd
          margin-left 10px


    #interactive
      width 100%
      canvas, video
        position absolute
        top 0
        left 0
  .footer
    position absolute
    bottom 10px
    width 100%
    .container
      display flex
      justify-content center
      align-items center
      width 360px
      margin 0 auto
      span
        flex 1 0 0
        text-align center
        img
          height 30px

.confetti
  position absolute
  left 50%
  top 4rem
  transform translateX(-50%)
  z-index 1
